@charset "utf-8";body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0;border:0;}body{font:18px/1.5 'Microsoft YaHei';color:#333;-webkit-text-size-adjust:none;min-width:320px;z-index:1;}h1,h2,h3,h4,h5,h6{font-size:100%}form{display:inline}ul,ol{list-style:none}a{text-decoration:none;color:#333}a:hover,a:active,a:focus{color:#fb8600;text-decoration:none;}a:active{color:#aaa;}img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;}textarea{resize:none}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}table{border-collapse:collapse;border-spacing:0}.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display:block;}.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.break{word-break:break-all;word-wrap:break-word}header,footer,article,section,nav,menu,hgroup{display:block;clear:all;}



* {
  border: 0; margin: 0; padding: 0; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; list-style: none;
}
img {
  vertical-align: middle;
}














